body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  font-family: 'Montserrat', sans-serif;
}

.float-right {
    float: right;
}

.navbar {
  background-color: #37517E;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-item .nav-link {
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  border-bottom-color: white;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}

.brand-text {
  display: inline-block;
  vertical-align: middle;
}

.brand-line1,
.brand-line2 {
  display: block;
  font-size: 1rem;
  text-align: left;
}

.container {
  text-align: left;
  margin-top: 40px; 
}

.dashboard-header {
  z-index: 1000;
  color: #37517E;
  padding: 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-container {
  margin-top: 4rem;
}

.dashboard-container .card {
  margin-bottom: 20px;
}

.dashboard-container .card-title {
  font-size: 2rem;
}

.dashboard-container .card-title .text-normal {
  font-weight: normal;
}

.dashboard-container .container h2 {
  color: #253A5E;
  font-weight: bold;
}

.data-pengguna-container {
    margin-top: 4rem;
}

.data-pengguna-container .data-pengguna-header {
    color: #37517E;
    padding: 0px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.data-pengguna-container .container h2 {
    color: #253A5E;
    font-weight: bold;
}

.data-pengguna-container .form-group {
    margin-bottom: 1.5rem;
    margin-right: 5rem;
}

.data-pengguna-container .form-control {
    width: 100%;
}

.data-pengguna-container .btn {
    margin-right: 1rem;
}

.data-pengguna-container table {
    width: 100%;
}

.data-pengguna-container table th,
.data-pengguna-container table td {
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .data-pengguna-container .container {
        margin-top: 20px;
    }
    
    .data-pengguna-container .btn {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

.form-container {
  max-width: 800px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dashboard-card {
  background-color: #fff;
  color: #253A5E;
}

.login-card {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #000;
}

.card-title.font-weight-bold {
  font-weight: 800;
  font-size: 3rem;
}

.card-text.font-weight-semibold {
  font-weight: 600;
  font-size: 1.5rem;
}

.d-flex .btn {
  flex: 1;
}

.btn-masuk {
  background-color: #0056b3 !important;
  color: white !important;
}

.btn-masuk:hover {
  background-color: #116ed1 !important;
}

.btn-kembali {
  background-color: #28a745 !important;
  color: white !important;
}

.btn-kembali:hover {
  background-color: #218838 !important;
}

.bold-text {
  font-weight: bold;
}

.form-control {
  margin-bottom: 1rem;
}

#entries {
    max-width: 50px;
}


.search-input {
    max-width: 100px;
}

.nav-link {
  color: white !important;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item.dropdown {
  margin-right: 20px;
}

.navbar-brand .brand-text .brand-line1,
.navbar-brand .brand-text .brand-line2 {
  color: white;
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover {
  background-color: #116ed1;
  color: white;
}

.icon-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#userDropdown .fas.fa-user {
  margin-right: 5px;
}

#userDropdown .ml-2 {
  margin-left: 8px !important;
}
